body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

button {
  margin: 25px;
  padding: 5px 15px;
  width: 130px;
  border: 2px solid #87CEFA;
  border-radius: 5px;
  background-color: #E0FFFF;
  color: #4169E1;
}

.slide-img {
  height: 50vh;
}

